<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-12">

                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum urna non nisi ornare, condimentum iaculis ipsum blandit. Duis auctor vulputate metus nec luctus.</p>

                <ul>
                    <li><a class="facebook" href="https://www.facebook.com/rajat.juneja.1998" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="github" href="https://github.com/Rajat-Juneja" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/rajat-juneja/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>

                <img src="images/giftfooter.jpg" alt="Gift Store">
            </div>

            <div class="col-lg-4 col-sm-12 col-12">

                <h3>Address</h3>
                
                <div class="address row">
                                <div class="addleft col-sm-2 col-2">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="addright col-sm-10 col-10">
                                    <h6>Phone Number</h6>
                                    <p>+91 965 462 3602</p>
                                </div>             
                </div>

                <div class="address row">
                        <div class="col-sm-2 col-2">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="addright col-10 col-sm-10">
                                    <h6>Email Address</h6>
                                    <p>Email :<a href="mailto:junejarajat98@gmail.com"> junejarajat98@gmail.com</a></p>
                                </div>
                            </div>


                <div class="address row">
                        <div class="col-2 col-sm-2">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="addright col-10 col-sm-10">
                                    <h6>Location</h6>
                                    <p>Pitampura, New Delhi 110034, India. 
                                    <span>Mobile : +91 965 462 3602</span>
                                    </p>
                                </div>
                            </div>
                </div>




            <div class="col-lg-4 col-sm-12 col-12">

                <h3>Latest News</h3>

                <ul class="lastlist">
                        <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <p>Lorem ipsum neque vulputate</p>     
                        </li>
                        <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <p>Dolor amet sed quam vitae</p>   
                        </li>
                        <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <p>Lorem ipsum neque vulputate</p>   
                        </li>
                        <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <p>Dolor amet sed quam vitae</p>    
                        </li>
                        <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <p>Lorem ipsum neque vulputate</p>
                        </li>
                    </ul>
                    
                    <h3>Stay in Touch</h3>

                    <form action="" method="GET" validate>
                        <input type="email" placeholder="Email ID" required>
                        <button type="submit">Subscribe</button>
                    </form>

            </div>
        </div>
    </div>
</div>