*{
    box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

/* SIGNUP/LOGIN */
h1.wow{
    text-align: center;
    margin-top: 4%;
}

div.mainloginpage{
    margin-top: 5%;
    height: 65vh;
}

div.mainloginpage div.row{
    height: 100%;
}

div.col-8{
    background-image: url('../images/bg.jpeg');
    background-size: 100% 100%;
}

div.mainlogin{
    text-align: center;
    margin-top: 2.5%;
}

div.inputname, div.inputmob{
    position: relative;
    margin-bottom: 10%;
}

div.inputname input, div.inputmob input, div.otpenter input{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    transition: 0.5s ease all;
    z-index: 9999;
}

div.inputname p, div.inputmob p{
    color: red;
}

div.inputname input:focus + span, div.inputmob input:focus + span{
    transform: scale(0.7,0.7) translate(-20px,-30px);
}

div.inputname span, div.inputmob span{
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s ease all;
    pointer-events: none;
}

form button{
    padding: 2% 10%;
    cursor: pointer;
    border: none;
    background-color: #ecd7d7;
    font-weight: 900;
    color: black;
    border-radius: 3px;
}



/* Main.html */


p{
    font-family: 'Open Sans', sans-serif;
}

div.first{
    position: relative;
}

div.insidevid{
    overflow: hidden;
    height: 45vmax;
    background-color: black;
}

div.insidevid.part2{
    height: 20vmax; 
}

div.insidevid video{
width: 100%;
opacity: 0.6;
transform: translateY(-10%);
}

div.topsearchbar{
    position: absolute;
    width: 100%;
    top:5%;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
}

div.topsearchbar h1 a{
    color: white;
    text-decoration: none;
    font-size: 55px;
    letter-spacing: 5px;
}

div.topsearchbar h1 a span{
    color: #d22626 !important;
    text-align: center;
    font-size: 24px;
    display: block;
    text-align: left;
    margin-left: 2%;
    letter-spacing: 2px;
}

form.searching{
    width: auto;
    text-align: right;
    padding-top: 3%;
}

form.searching input, form.searching button{
    display: inline-block !important;
}

form.searching input{
    border:none;
    border-bottom: 2px solid white;
    background-color: transparent;
    opacity: 0;
    transition: 0.5s ease-in-out all;
    vertical-align: bottom;
    width: 65%;
    color: white;
    font-size: 24px;
    outline: none;
}

form.searching button{
    outline: none;
    transition: 0.5s ease-in-out all;
    background-color: black;
    border: 2px solid #434443;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
 border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
padding: 2.5% 5%;
font-size: 14px;
}

form.searching:hover input{
    opacity: 1;
}

form.searching:hover button{
    border-color: white;
}

ul.topchangetext{
    position: absolute;
    padding: 0;
    top: 40%;
    /* transform: translateY(-50%); */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    color: white;
    width: 100%;
    /* padding-top: 8%; */
}

ul.topchangetext li{
    position: absolute;
    top: 50%;
    left: 50%;
    list-style: none;
    font-size: 40px;
    text-align: center;
    transform: translate(-50%);
    width: 100%;
    padding: 0 10vw;
}

ul.topchangetext li h6{
text-transform: uppercase;
letter-spacing: 18px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
color: rgba(229, 229, 230, 0.44);
}

ul.topchangetext li h1{
    margin-top: 7.5%;
    /* font-size: 6em; */
    font-weight: bold;
    letter-spacing: 7px;
    /* word-spacing: 10px; */
}


ul.topchangetext li.first{
    opacity: 1;
    visibility:visible;
    animation: hide1 9s infinite;
}

ul.topchangetext li.second{
    opacity: 0;
    visibility:hidden;
    animation: hide2 9s infinite;
}

ul.topchangetext li.third{
    opacity: 0;
    visibility:hidden;
    animation: hide3 9s infinite;
}

@keyframes hide1{
    0%{
        opacity: 1;
        visibility:visible;
    }
    25%{
        opacity: 1;
        visibility:visible;
    }
    33.3%{
        opacity: 0;
        visibility:hidden;
    }
    91.7%{
        opacity: 0;
        visibility:hidden;
    }
    100%{
        opacity: 1;
        visibility:visible;
    }
}

@keyframes hide2{
    0%{
        opacity: 0;
        visibility:hidden;
    }
    30%{
        opacity: 0;
        visibility:hidden;
    }
    33.3%{
        opacity: 1;
        visibility:visible;
    }
    58.3%{
        opacity: 1;
        visibility:visible;
    }
    66.7%{
        opacity: 0;
        visibility:hidden;
    }
    100%{
        opacity: 0;
        visibility:hidden;
    }
}

@keyframes hide3{
    0%{
        opacity: 0;
        visibility:hidden;
    }
    58.3%{
        opacity: 0;
        visibility:hidden;
    }
    66.7%{
        opacity: 1;
        visibility:visible;
    }
    91.7%{
        opacity: 1;
        visibility:visible;
    }
    100%{
        opacity: 0;
        visibility:hidden;
    }
}

div.container.navbarcont{
    transform: translateY(-50%);
    padding: 0;
    background-color: #1b1b1b;
}

nav.navbar{
    padding: 0;
}

nav div.collapse ul{
    width: 100%;
}

nav div.collapse ul li a{
    color: white !important;
    text-decoration: none;
    transition: 0.3s ease-in-out all;
    padding: 2em 5em !important;
    font-size: 24px;
}

nav div.collapse ul li{
    /* display: inline-block; */
    color: white;
}

nav div.collapse ul li.active{
    background-color: #ff0000 !important;
}

nav div.collapse ul li.active:hover a{
    color: white !important;
}

nav div.collapse ul li:hover a{
    color: #ff0000 !important;
}

div.second{
    margin-top: 5%;
    margin-bottom: 5%;
}


div.second h1{
    position: relative;
    width: fit-content;
    font-size: 4vw;
    margin-bottom: 5%;
}

div.second h1 i{
    font-size: 28px;
}

div.second h1 i.fa-bell{
    position: absolute;
color: #000;
transform: rotate(22deg);
bottom: 0px;
right: -24px;
}

div.second h1 i.fa-bell-o{
    position: absolute;
color: #f00;
transform: rotate(-45deg);
bottom: 4px;
right: -38px;
}

div.second div.row h3{
    color:#ff0000;
    letter-spacing: 2.5px;
    margin-bottom: 4%;
 font-family: 'Open Sans', sans-serif;
}

div.second div.row p{
    
 
 font-size: 16px;
letter-spacing: .5px;
line-height: 30px;
color: #333;
}

div.second div.row i.fa-diamond{
    color: rgba(255, 0, 0, 0.7);
text-shadow: -2px -1px 2px rgba(0, 0, 0, 0.33);
font-size: 16px;
padding-right: 10px;
vertical-align: top;
transform: rotate(-45deg);
}

div.third{
    background-image: url('../images/bg3.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    /* height: 300px; */
    color: white;
}

div.third div.container{
    padding: 3.5em 0;
}

div.third h1{
    margin-bottom: 3.5%;
}

div.third h1 span{
    color: #ff0000;
    font-size: 32px;
    font-weight: 900;
}

div.third p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 2.5%;
    font-weight: bold;
}

div.third a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    margin-top: 2em;
    background: #000;
    border: 2px solid #000;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out all;
}

div.third a:hover{
    border-color: white;
}

div.fourth{
    background-color: rgb(27, 27, 27);
}

div.fourth div.container{
    padding: 3.5em 0;
    color: white;
    text-align: center;
}

div.fourth h1{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5%;
}

form.contact h1{
    position: relative;
    width: fit-content;
    margin: 0 auto 2.5%;
    color: white;
}

div.fourth h1 i{
    font-size: 26px;
}

form.contact h1 i{
    font-size: 28px !important;
}

div.fourth h1 i.fa-bell, form.contact h1 i.fa-bell{
    position: absolute;
transform: rotate(22deg);
bottom: 0px;
right: -28px;
}

form.contact h1 i.fa-bell{
    right: -40px;
    color: white;
}

div.fourth h1 i.fa-bell-o, form.contact h1 i.fa-bell-o{
    position: absolute;
color: rgb(255, 0, 0);
transform: rotate(-45deg);
bottom: 4px;
right: -42px;
}

form.contact h1 i.fa-bell-o{
    right: -54px;
}

div.fourth div.col-md-6{
    margin-bottom: 5%;
}

div.fourth div.media div.media-body{
    margin-left: 5%;
    text-align: left;
}

div.fourth div.media i{
    font-size: 4vw;
    color: #ff0000;
    position: relative;
    z-index: 10;
    transition: .5s ease all;
}

div.fourth div.media:hover i{
    animation: rot 2s ease forwards;
}

@keyframes rot{
    0%{         color: #ff0000;
        transform: scale(1,1);
    }
    50%{
        color: transparent;
        transform: scale(1.2,1.2);
    }
    100%{
        color: white;
        transform: scale(1,1);
    }
}

div.fourth div.media div.media-body h5{
    color: rgb(255, 255, 255);
    font-size: 1.75em;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0px 0px 0.2em;
}

div.fourth div.media div.media-body p{
    color: rgb(153, 153, 153);
    font-size: 15px;
    line-height: 1.8em;
    margin: 0px;
}

div.footer{
    height: 500px;
}

div.footer div.container{
    padding: 3em 0;
}

div.footer h3{
    margin-bottom: 5%;
}

div.footer p{
    color: #707480;
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 1px;
    margin-bottom: 8%;
}

div.footer ul li{
    list-style: none;
    display: inline-block;
        /* height: 35px;
    width: 35px; */
   
}

div.footer ul li a{
    display: block;
    text-decoration: none;
    width: 35px;
    height: 35px;   
    margin-right: 1em;
    transition: .5s all;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

div.footer ul li a i{
    font-size: 20px;
    vertical-align: initial;
}

div.footer ul li a.facebook{
    background: #3b5998;
    vertical-align: sub;
}

div.footer ul li a.github{
    background:#333;
}

div.footer ul li a.linkedin{
    background:#0077B5;  
}

div.footer div.col-lg-4{
    position: relative;
}

div.footer div.col-lg-4 img{
    position: relative;
    right: 5%;
    width: 63%;
}


div.footer div.address{
    background: #1b1b1b;
    padding: 1.2em;
    margin-bottom: 5%;
    width: 100%;
}

div.footer div.address i{
    color: #FFFFFF;
font-size: 1.5em;
}

div.footer div.address div.addright h6 {
color: #FFFFFF;
font-size: 1em;
margin: 0;
margin-bottom: 5%;
letter-spacing: 1px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}

div.footer div.address p{
    margin-bottom: 0;
}

div.footer div.address p a{
    text-decoration: none;
    color: #707480;
}

div.footer ul.lastlist{
    padding: 0;
}

div.footer ul.lastlist li{
    width: 100%;
}

div.footer ul.lastlist li p{
    display: inline-block;
    margin-bottom: 2%;
    margin-left: 1%;
}

div.footer form input{
    font-size: 15px;
color: #777;
width: 100% !important;
border: none;
border-bottom: 1px solid #000;
background: #fff;
padding: .8em;
}

div.footer form button{
    color: #FFF;
background: #1b1b1b;
border: 2px solid #1b1b1b;
float: right;
margin: 1em auto 0;
font-size: 13px;
font-weight: bold;
text-transform: capitalize;
letter-spacing: 2px;
padding: 11px 30px;
}

a.logout{
    z-index: 9999999;
    position: absolute;
    bottom: 10%;
    right: 5%;
    position: fixed;
    padding: 0.5% 1.5%;
    text-decoration: none;
    color: black;
    background: rgba(200,200,200);
    border-radius: 20px;
    transition: 0.5s ease-in-out all;
}
a.logout:hover{
    background: black;
    color: white;
}




/* Table in cart and history */






@media(max-width:992px){
    div.col-lg-4{
        padding-right: 0;
        padding-left: 0;
    }

    div.row{
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 576px){
    div.insidevid{
        height: 35vmax;
    }
}