<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prezzie</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script src="https://use.fontawesome.com/becd647f77.js"></script>

    <style>
    h1.hist{
        position: absolute;
        top: 50%;
        color: white;
        width: 100%;
        text-align: center;
    }
    table tr{
        border: 1px solid thistle;
        border-bottom: none;
        height: 175px;
    }
    table tr.top{
        border: none;
        height: 75px;
    }
    table tr.top th{
        font-size: 26px;
    }
    table tr th.img{
        text-align: center;
        width: 10%;
    }
    table tr th.name{
        text-align: center;
        width: 50%;
        /* padding-left: 1%; */
    }
    table tr th.price{
        width: 15%;
        text-align: center;
    }
    table tr th.count{
        width: 10%;
        text-align: center;
    }
    table tr th.date{
        width: 15%;
        text-align: center;
    }
    table tr:last-of-type{
        border-bottom: 1px solid thistle;
    }
    table tr td span{
        cursor: pointer;
    }
    table tr td.img{
        width: 10%;
    }
    table tr td.img img{
        max-height: 150px;
    }
    table tr td.name{
        width: 50%;
        text-align: center;
        /* padding-left: 1%; */
        font-size: 22px;
        font-weight: 600
    }
    table tr td.price{
        width: 15%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }
    table tr td.count{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        width: 10%;
    }
    table tr td.date{
        width: 15%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    </style>
    
    <script>
        const history = angular.module('history',[]);
        history.controller('histctrl',($scope,histfact)=>{
            $scope.showOrders=false;
            var pr = histfact.getHistory();
            pr.then(success,fail);
            function success(data){
                // for(let i=0;i<data.data.data.length;i++){
                //     // console.log(data.data.data[i].date);
                //     data.data.data[i].date=data.data.data[i].date.toDateString();
                // }
                $scope.OrderedItems = data.data.data;
                if($scope.OrderedItems.length>0){
                    $scope.showOrders=true;
                }
                else{
                    $scope.showOrders=false;
                }
                // console.log("data",data.data);
            }    
            function fail(err){
                console.log(err);
            }

            $scope.goTo=()=>{
                location.href='http://localhost:1234/products.html#/products/search/'+$scope.searched;
            };
            
        });

        history.factory('histfact',($http,$q)=>{
            var object = {
                getHistory(){
                    var pr = $q.defer();
                    var url = '/Orders';
                    $http.get(url).then(success,fail);
                    function success(data){
                        return pr.resolve(data);
                    }
                    function fail(err){
                        return pr.reject(err);
                    }
                    return pr.promise;
                }
            }
            return object;
        });
    </script>

</head>
<body ng-app="history" ng-controller="histctrl">
 
    <div class="first">
        <div class="insidevid part2">
            <video src="videos/bg.mp4" autoplay loop muted></video>
        </div>
        <div class="topsearchbar">
            <h1><a href="#">Prezzie <span>Life Is A Gift</span></a></h1>
            <form class="searching">
                    <input type="text" ng-model="searched">
                    <button ng-click="goTo()">SEARCH</button>
                </form>
        </div>
        <h1 class="hist">History</h1>
    </div>

    <!-- NAVBAR -->
    <div class="container navbarcont">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="main.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="products.html">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </li>
              </ul>
            </div>
        </nav>
    </div>

    <a href="/newlogin" class="logout">Logout</a>


    <div class="container" ng-show="showOrders">
        <table style="width: 100%">
            <tr class="top">
                <th class="img">Image</th>
                <th class="name">Name</th>
                <th class="count">Orders</th>
                <th class="price">Amount</th>
                <th class="date">Date</th>
            </tr>
            <tr ng-repeat="data in OrderedItems">
    
                <td class="img"><img ng-src="{{data.Object.image}}"></td>
    
                <td class="name">{{data.Object.name}}</td>
    
                <td class="count"> {{data.Object.bought}} </td>
    
                <td class="price">&#8377; {{data.Object.discounted_price*data.Object.bought}}</td>
                <td class="date">{{data.date | date : "dd-MM-yyyy"}}</td>
                    
            </tr>
            <!-- <tr>
                <td class="img"><img src="images/products/4.jpg" alt="Item"></td>
                <td class="name">BLue Black Color Toy</td>
                <td class="count">4</td>
                <td class="remove"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr> -->
                <h4 ng-show="deleted && showItems" style="text-align: center;color: red;font-weight: 600;">{{deletedtext}}</h4>
        </table>
    </div>

    <div ng-show="!showOrders">
            <h3 style="text-align: center;color: red;font-weight: 600;">No Products to show</h3>
    </div>



    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12">

                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum urna non nisi ornare, condimentum iaculis ipsum blandit. Duis auctor vulputate metus nec luctus.</p>

                    <ul>
                        <li><a class="facebook" href="https://www.facebook.com/rajat.juneja.1998" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="github" href="https://github.com/Rajat-Juneja" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/rajat-juneja/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>

                    <img src="images/giftfooter.jpg" alt="Gift Store">
                </div>

                <div class="col-lg-4 col-sm-12 col-12">

                    <h3>Address</h3>
                    
                    <div class="address row">
                                    <div class="addleft col-sm-2 col-2">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="addright col-sm-10 col-10">
                                        <h6>Phone Number</h6>
                                        <p>+91 965 462 3602</p>
                                    </div>             
                    </div>

                    <div class="address row">
                            <div class="col-sm-2 col-2">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <div class="addright col-10 col-sm-10">
                                        <h6>Email Address</h6>
                                        <p>Email :<a href="mailto:junejarajat98@gmail.com"> junejarajat98@gmail.com</a></p>
                                    </div>
                                </div>


                    <div class="address row">
                            <div class="col-2 col-sm-2">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <div class="addright col-10 col-sm-10">
                                        <h6>Location</h6>
                                        <p>Pitampura, New Delhi 110034, India. 
                                        <span>Mobile : +91 965 462 3602</span>
                                        </p>
                                    </div>
                                </div>
                    </div>




                <div class="col-lg-4 col-sm-12 col-12">

                    <h3>Latest News</h3>

                    <ul class="lastlist">
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							    <p>Lorem ipsum neque vulputate</p>     
							</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							    <p>Dolor amet sed quam vitae</p>   
							</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							    <p>Lorem ipsum neque vulputate</p>   
							</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							    <p>Dolor amet sed quam vitae</p>    
							</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							    <p>Lorem ipsum neque vulputate</p>
							</li>
                        </ul>
                        
                        <h3>Stay in Touch</h3>

                        <form action="subscribe" method="POST" validate>
                            <input type="email" name="emailid" placeholder="Email ID" required>
                            <button type="submit">Subscribe</button>
                        </form>

                </div>
            </div>
        </div>
    </div>

</body>
</html>