<div class="products">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-12" style="text-align: center">
                    <label for=""> <b>Search</b>  <i class="fa fa-search" aria-hidden="true"></i> &nbsp; 
                        <input type="text" ng-model="search.name" placeholder="Enter name to search">
                    </label>
                </div>
                
                <div class="col-sm-6 col-12" style="text-align: center">
                    <label for=""> <b>Sort By:</b>  &nbsp;
                        <select name="" ng-model="sort" id="">
                                <option value="relevance">Relevance</option>
                                <option value="-ratings">Ratings</option>
                                <option value="discounted_price">Price : Low to High</option>
                                <option value="-discounted_price">Price : High to Low</option>
                        </select>                    
                    </label>
                </div>
            </div>

            <div class="row" ng-show="recievedall">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 box" ng-repeat="data in prods | filter:search | orderBy:sort">
                    <a href="#/product/{{data._id}}">
                    <div class="img" style="background-image: url({{data.image}})">
                    </div>
                    <div class="info">
                        <h3 class="name">{{data.name}}</h3>
                        <p class="price"> <strike> &#8377; {{data.price}} </strike>&nbsp; &#8377; {{data.discounted_price}}</p>
                        <p class="save">You Save: <span>&#8377; {{data.price - data.discounted_price}} </span></p>
                     <star-rating-comp title="{{data.ratings}}" rating="data.ratings" show-half-stars="true" read-only="true"></star-rating-comp>
                     <p class="price" ng-show="data.available==0" style="color: red">Out Of Stock</p>
                    </div>
                </a>
                </div>
            </div>
            <div ng-show="!recievedall" style="text-align: center">
                <img src="images/loader.gif" alt="Loading..." style="width: 120px">
            </div>
        </div>
    </div>